In [1]:
import pandas as pd

In [11]:
# https://www.kaggle.com/datasets/benhamner/sf-bay-area-bike-share?select=status.csv
dataset_station_statut = pd.read_csv("./Bike_Data/status.csv")
dataset_station = pd.read_csv("./Bike_Data/station.csv")

## Station statut

In [5]:
dataset_station_statut.head(3)

   station_id  bikes_available  docks_available                 time
0           2                2               25  2013/08/29 12:06:01
1           2                2               25  2013/08/29 12:07:01
2           2                2               25  2013/08/29 12:08:01

In [14]:
dataset_station_statut.shape

(71984434, 4)

## Station

In [12]:
dataset_station.head(3)

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013

In [15]:
dataset_station.shape

(70, 7)

## Merge dataset Station statut and Station

In [13]:
dataset = pd.merge(dataset_station, dataset_station_statut, left_on='id', right_on='station_id')

In [16]:
dataset.head(3)

,id,name,lat,long,dock_count,city,installation_date,station_id,bikes_available,docks_available,time
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,2,25,2013/08/29 12:06:01
1,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,2,25,2013/08/29 12:07:01
2,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,2,25,2013/08/29 12:08:01

In [17]:
dataset.shape

(71984434, 11)

In [6]:
dataset_station_statut.shape

(71984434, 4)

## Selection one station to make prediction (here station with id = 2)

In [19]:
dataset_station_2 = dataset.loc[dataset['id'] == 2]

In [20]:
dataset_station_2.shape

(1046898, 11)

In [24]:
dataset_station_2.head(5)

,id,name,lat,long,dock_count,city,installation_date,station_id,bikes_available,docks_available,time
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,2,25,2013/08/29 12:06:01
1,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,2,25,2013/08/29 12:07:01
2,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,2,25,2013/08/29 12:08:01
3,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,2,25,2013/08/29 12:09:01
4,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,2,25,2013/08/29 12:10:01

In [23]:
dataset_station_2.tail(5)

,id,name,lat,long,dock_count,city,installation_date,station_id,bikes_available,docks_available,time
1046893,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,18,9,2015-08-31 23:55:02
1046894,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,18,9,2015-08-31 23:56:01
1046895,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,18,9,2015-08-31 23:57:02
1046896,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,18,9,2015-08-31 23:58:02
1046897,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,18,9,2015-08-31 23:59:02

### Drop station_id and kee id

In [25]:
dataset_station_2 = dataset_station_2.drop('station_id', axis=1)

In [26]:
dataset_station_2.head(3)

,id,name,lat,long,dock_count,city,installation_date,bikes_available,docks_available,time
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,25,2013/08/29 12:06:01
1,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,25,2013/08/29 12:07:01
2,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,2,25,2013/08/29 12:08:01

### Check presence of null and NaN values

In [30]:
dataset_station_2.isna().sum()

id                   0
name                 0
lat                  0
long                 0
dock_count           0
city                 0
installation_date    0
bikes_available      0
docks_available      0
time                 0
dtype: int64